.container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #eeeeee;
  margin: 0px auto 30px auto;
  justify-content: space-between;
}

.title {
  font-size: xx-large;
}

.box {
  width: 30%;
  height: 250px;
  text-align: center;
  padding: 0px;
  display: flex;
}

.textBox {
  width: 30%;
  text-align: center;
  color: #393e46;
  align-items: center;
  font-size: large;
  padding: 10px;
  padding-top: 0px;
  display: flex;
  flex-grow: 3;
}

@media (max-width: 600px) {
  .box {
    flex-direction: column;
    width: 100% !important;
  }
}
