.MuiFormControl-root {
  margin: 5px;
  width: 80%;
}

.MuiTypography-root {
  color: #eeeeee !important;
}

.MuiInputBase-input {
  color: #eeeeee !important;
  text-transform: capitalize;
}

.MuiFormLabel-root {
  color: #eeeeee !important;
}
