.MuiFormControl-root {
  margin: 10px !important;
  width: 80%;
}

.MuiTypography-root {
  color: #eeeeee !important;
}

.MuiInputBase-input {
  color: #eeeeee !important;
  text-transform: capitalize;
}

.MuiSvgIcon-root {
  color: #00adb5 !important;
}

.MuiMenuItem-root {
  text-transform: capitalize;
}

.MuiFormLabel-root {
  color: #eeeeee !important;
}

@media (max-width: 600px) {
  h1 {
    font-size: 6vmax !important;
  }
}
